body {
    margin: 0;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

#map {
    z-index: 0;
    height: 100vh;
}

.leaflet-bottom {
    display: none;
}

.gitHubLink {
    top: 85px;
    left: 10px;
    z-index: 1;
    position: fixed;
    text-align: center;
}

.gitHubLink img {
    width: 34px;
    border-radius: 34px;
    background-clip: padding-box;
    border: 2px solid rgba(0, 0, 0, 0.2);
}

.gitHubLink,
.image {
    color: black;
    text-decoration: none;
}

h2 {
    margin: 16px 0;
    margin-bottom: 0;
}

.museum {
    margin-bottom: 16px;
}

h2,
p {
    text-align: left;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

figure {
    all: unset;
    display: block;
    text-align: center;
}

.image {
    max-width: 100%;
    border-radius: 12px;
    box-shadow: 0 3px 14px rgb(0 0 0 / 40%);
}

.leaflet-interactive {
    stroke-dasharray: 100%;
    animation: line-animation 2s infinite alternate;
}

@keyframes line-animation {
    from {
      stroke-dashoffset: 0;
    }
    to {
      stroke-dashoffset: 100%;
    }
}